# API Configuration
BASE_URL=https://sandbox.api.service.nhs.uk/eligibility-signposting-api
API_KEY=your_api_key_here

# Test Data
VALID_NHS_NUMBER=50000000004
INVALID_NHS_NUMBER=9876543210

# AWS
# AWS
ABORT_ON_AWS_FAILURE=false
AWS_REGION=eu-west-2
AWS_ACCESS_KEY_ID=aws_access_key_id_token_here
AWS_SECRET_ACCESS_KEY=aws_secret_access_ey_token_here
AWS_SESSION_TOKEN=aws_session_token_here

# DynamoDB
DYNAMODB_TABLE_NAME=eligibilty_data_store
DYNAMO_JSON_SOURCE_DIR=./data/dynamoDB/test_data.json

# S3
S3_BUCKET_NAME=your-bucket-name
S3_UPLOAD_DIR=qa/json
S3_JSON_SOURCE_DIR=./data/s3

# Cleanup
KEEP_SEED=false
